# <u>**Part 5**

In [10]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

## **Exercise 41**

The following dataframe is given

* `np.random.seed(42)`
* `df = pd.DataFrame(data=np.random.randn(10), columns=['var1'])`

Implement the `sigmoid()` function using the numpy package

In [ ]:
np.random.seed(42)
df = pd.DataFrame(data=np.random.randn(10), columns=['var1'])

In [ ]:
df

       var1
0  0.496714
1 -0.138264
2  0.647689
3  1.523030
4 -0.234153
5 -0.234137
6  1.579213
7  0.767435
8 -0.469474
9  0.542560

In [ ]:
def sigmoid(x):
    return 1 / (1+np.exp(-x))

In [ ]:
df['var1_sigmoid'] = df['var1'].apply(sigmoid)
df

       var1  var1_sigmoid
0  0.496714      0.621687
1 -0.138264      0.465489
2  0.647689      0.656489
3  1.523030      0.820984
4 -0.234153      0.441728
5 -0.234137      0.441732
6  1.579213      0.829093
7  0.767435      0.682966
8 -0.469474      0.384741
9  0.542560      0.632408

## **Exercise 42**

Load the 42.csv file into the DataFrame.

Then, using the StandardScaler class from the scikit-learn package, standardize all the variables.

In [ ]:
df = pd.read_csv('42.csv')
df.head()

    var1   var2    var3    var4     var5
0  12.47  18.60   81.09   481.9  0.09965
1  18.94  21.31  123.60  1130.0  0.09009
2  15.46  19.48  101.70   748.9  0.10920
3  12.40  17.68   81.47   467.8  0.10540
4  11.54  14.44   74.65   402.9  0.09984

In [ ]:
scaler = StandardScaler()
scaler.fit(df)

StandardScaler()

In [ ]:
df_scaled = scaler.transform(df)
df_scaled

array([[-4.78538093e-01, -2.13716784e-01, -4.58680543e-01,
        -5.11379891e-01,  6.83084080e-02],
       [ 1.37424404e+00,  3.89500006e-01,  1.29254696e+00,
         1.40549685e+00, -6.12226925e-01],
       [ 3.77693525e-01, -1.78382691e-02,  3.90362007e-01,
         2.78322453e-01,  7.48131884e-01],
       [-4.98583649e-01, -4.18498868e-01, -4.43026193e-01,
        -5.53083273e-01,  4.77626208e-01],
       [-7.44857626e-01, -1.13968795e+00, -7.23980593e-01,
        -7.45037138e-01,  8.18336918e-02],
       [ 1.84961008e+00,  2.17466556e+00,  1.97227535e+00,
         1.80478455e+00,  1.36032894e+00],
       [ 2.25338486e+00,  5.20827647e-01,  2.26476453e+00,
         2.44660256e+00,  5.41693341e-01],
       [ 9.81923864e-01, -1.00390852e+00,  9.38264283e-01,
         8.88197447e-01, -1.56907231e-02],
       [-2.29400465e-01, -8.23611251e-01, -2.36223980e-01,
        -3.98692028e-01, -1.56907231e-02],
       [-6.90360146e-02, -6.54443443e-01, -1.34058744e-01,
        -1.63851706e-01, -2.16478714e+00],
       [-2.66627926e-01,  1.26650154e+00, -3.34681607e-01,
        -3.45749436e-01, -7.67411760e-01],
       [ 7.55695443e-01, -1.69198940e-01,  7.03449022e-01,
         6.84708603e-01, -7.14734339e-01],
       [ 2.37374631e-01,  4.44867130e-02,  1.34948915e-01,
         1.04706245e-01, -1.03079887e+00],
       [ 6.06785596e-01,  5.16375863e-01,  6.29296834e-01,
         5.08726246e-01,  1.26778752e+00],
       [-5.15765554e-01, -1.62270656e+00, -5.47251212e-01,
        -5.51012892e-01, -6.16498067e-01],
       [ 1.42006245e+00,  1.49799433e+00,  1.51912309e+00,
         1.41141222e+00,  1.62371605e+00],
       [ 1.91556217e-01, -1.08181475e+00,  1.00344561e-01,
         7.66082217e-02, -9.94494157e-01],
       [-1.14004145e+00,  6.64654529e-03, -1.13264154e+00,
        -1.01477816e+00,  1.14579116e-01],
       [-2.05039607e+00, -1.36450306e+00, -1.99527866e+00,
        -1.51226106e+00,  1.30338038e+00],
       [ 1.83529183e+00,  2.89334857e-01,  1.87752533e+00,
         1.93196508e+00,  4.20677644e-01],
       [-9.76725236e-02, -8.39192497e-01, -7.39130801e-02,
        -2.09104312e-01,  1.43053397e-01],
       [-5.84493176e-01, -4.09595299e-01, -5.83091436e-01,
        -6.16969305e-01,  2.99661947e-01],
       [ 2.13883882e+00,  6.05411551e-01,  2.14941668e+00,
         2.22477606e+00,  1.28202467e+00],
       [-1.17726891e+00,  3.82822330e-01, -1.19608286e+00,
        -1.02779199e+00, -1.24720341e+00],
       [-7.27675720e-01,  1.09733373e+00, -7.41282770e-01,
        -7.02742219e-01, -1.70492749e+00],
       [-1.74991098e-01, -1.91875022e+00, -1.77726143e-01,
        -2.82750710e-01,  2.16472740e+00],
       [-2.46582370e-01, -1.29995219e+00, -2.65060942e-01,
        -3.34214458e-01, -1.07208657e+00],
       [-1.10281399e+00,  1.79181210e+00, -1.09391762e+00,
        -9.86088603e-01, -5.97277927e-01],
       [-3.95492217e-01, -1.60295371e-01, -4.26547929e-01,
        -4.67901896e-01, -1.37418277e-01],
       [ 8.75968780e-01,  1.10401141e+00,  9.05307755e-01,
         8.12184899e-01,  5.98641905e-01],
       [-8.62267312e-01,  6.41025827e-01, -8.54158878e-01,
        -8.17500462e-01, -2.15722552e-01],
       [-5.95947779e-01, -1.51808962e+00, -6.33762098e-01,
        -6.09870857e-01, -3.97246098e-01],
       [-1.25974206e+00, -9.79703888e-02, -1.24798939e+00,
        -1.07984727e+00,  6.27116187e-01],
       [-1.32036334e-01, -7.18994317e-01, -1.83905492e-01,
        -2.34540417e-01, -4.21449237e-01],
       [-1.13431415e+00, -4.51887251e-01, -1.11657523e+00,
        -1.01063740e+00,  5.27456201e-01],
       [-7.50584927e-01, -1.80328401e-01, -7.77946907e-01,
        -7.26995250e-01, -2.45620548e-01],
       [ 5.38057975e-01,  8.19097204e-01,  4.31557667e-01,
         4.22953332e-01, -1.18384813e+00],
       [-6.87584608e-01, -1.23317542e+00, -7.40870814e-01,
        -6.72869583e-01, -1.46360795e+00],
       [ 1.17665212e+00,  9.34563417e-02,  1.12776432e+00,
         1.13930505e+00, -2.89043827e-01],
       [ 1.37146850e-01,  9.92716797e-01,  9.66369518e-02,
         2.33698614e-02, -6.37141921e-01],
       [-1.04554097e+00, -6.01302212e-02, -1.02223717e+00,
        -9.42610609e-01,  8.53929770e-02],
       [ 2.68874791e-01,  1.37557026e+00,  2.37938065e-01,
         1.82789174e-01,  2.64069095e-01],
       [-7.24812069e-01, -7.87996976e-01, -6.90612108e-01,
        -7.29361399e-01,  7.19657602e-01],
       [-6.58948099e-01, -1.38036449e-01, -6.88552325e-01,
        -6.70799203e-01, -7.10463197e-01],
       [-6.44629844e-01, -4.89727419e-01, -6.60127320e-01,
        -6.48320784e-01,  1.69490175e+00],
       [-8.02130644e-01,  3.78370545e-01, -8.13375175e-01,
        -7.63966333e-01, -7.90191186e-01],
       [-1.38774725e+00, -1.25988613e+00, -1.32914484e+00,
        -1.17419748e+00,  2.73421303e+00],
       [-1.35109252e+00,  1.85191119e+00, -1.32914484e+00,
        -1.13426871e+00, -1.24293226e+00],
       [-7.07630164e-01,  1.02359911e-01, -7.00911023e-01,
        -7.05699906e-01,  2.07120531e-01],
       [-3.58264755e-01, -8.59225527e-01, -3.35505520e-01,
        -4.08748163e-01, -1.46004866e+00],
       [ 8.73105130e-01,  5.58667815e-01,  7.98199040e-01,
         8.08931444e-01, -1.01825425e-01],
       [ 1.28547086e+00,  1.23533905e+00,  1.34198175e+00,
         1.28127401e+00,  5.48811912e-01],
       [-2.95264435e-01,  6.63284749e-01, -2.14390280e-01,
        -3.70889773e-01,  1.07460545e-01],
       [-5.75814111e-02, -1.42237626e+00, -7.88565593e-02,
        -1.79231676e-01,  1.85862887e+00],
       [-6.41766193e-01, -1.09294421e+00, -5.81443610e-01,
        -6.56602307e-01,  1.17524611e+00],
       [-2.78082530e-01, -2.98300688e-01, -3.27266388e-01,
        -3.47524048e-01, -1.71062234e+00],
       [-1.11426859e+00, -7.52382700e-01, -1.05890131e+00,
        -9.77807080e-01,  5.27456201e-01],
       [ 3.17261680e+00,  1.19082120e+00,  3.26581907e+00,
         3.61784649e+00,  5.41693341e-01],
       [-1.89309352e-01,  2.80431288e-01, -1.57540270e-01,
        -2.82750710e-01,  2.07120531e-01],
       [-8.16448898e-01, -1.45131286e+00, -8.23674090e-01,
        -7.89106670e-01, -2.49448646e-02],
       [-3.66855708e-01, -3.47270317e-01, -3.72169658e-01,
        -4.39212336e-01,  4.62408396e-02],
       [ 1.58901785e+00,  3.76144653e-01,  1.55619918e+00,
         1.62140798e+00,  7.76606165e-01],
       [ 2.12452057e+00,  6.29896366e-01,  2.05054710e+00,
         2.43772950e+00,  8.76266151e-01],
       [ 7.41465301e-02,  1.65380678e+00,  1.06302087e-03,
        -2.57277375e-02, -2.04590701e+00],
       [-5.27220158e-01, -1.20229311e-01, -5.90918612e-01,
        -5.63139408e-01, -1.10767943e+00],
       [-4.35583329e-01,  9.81587336e-01, -4.47969672e-01,
        -4.68493434e-01, -1.39954081e+00],
       [ 4.69330353e-01,  7.45642761e-01,  5.55144646e-01,
         3.77996495e-01,  1.19660182e+00],
       [ 1.72933675e+00,  9.81587336e-01,  2.12057972e+00,
         1.74563082e+00,  2.12913455e+00],
       [-6.67539052e-01, -4.83049742e-01, -6.98439284e-01,
        -6.68137285e-01,  1.43053397e-01],
       [-3.32491897e-01, -4.67748679e-02, -3.17379430e-01,
        -4.16438148e-01, -2.06468411e-01],
       [-1.06263476e-01,  6.07637443e-01, -6.56739481e-02,
        -1.94907416e-01,  1.51693749e+00],
       [ 4.69330353e-01, -3.71755131e-01,  4.68633760e-01,
         3.73264196e-01, -1.13215138e-01],
       [-2.32176003e-02, -5.29793479e-01, -1.01926129e-01,
        -1.35162145e-01, -1.29845711e+00],
       [ 6.64058614e-01,  1.22392940e-01,  7.03449022e-01,
         5.26768135e-01, -2.70804358e-02],
       [-1.83619498e+00,  1.31992295e+00, -1.82266884e+00,
        -1.40785472e+00, -1.26072869e+00],
       [-1.92173003e-01, -1.22427185e+00, -2.02031582e-01,
        -3.20904868e-01,  5.98641905e-01],
       [-3.18085530e-02,  3.76144653e-01, -1.00278302e-01,
        -1.52020959e-01, -5.68803645e-01],
       [-5.18541093e-02, -5.58730077e-01, -3.27174202e-02,
        -1.54978645e-01,  7.76606165e-01],
       [-9.71086046e-01, -1.02171566e+00, -9.87220860e-01,
        -8.85823024e-01, -1.47784509e+00],
       [-8.22176200e-01, -1.46911999e+00, -7.85362126e-01,
        -7.94134737e-01,  1.78032460e+00],
       [ 5.78149087e-01,  4.40695527e-01,  5.75742476e-01,
         4.58445572e-01,  1.50171968e-01],
       [-8.27903502e-01, -1.06400761e+00, -8.58690401e-01,
        -7.83191297e-01, -1.11266243e+00],
       [ 9.70557372e-02,  4.22888390e-01,  8.34543406e-02,
        -1.95165955e-02, -3.02569111e-01],
       [ 1.94697421e+00,  8.90325755e-01,  1.92284055e+00,
         2.09759553e+00,  1.43053397e-01],
       [ 1.08501530e+00,  1.09510784e+00,  9.46503415e-01,
         1.01774412e+00, -7.21852909e-01],
       [ 3.37602412e-01, -5.09760449e-01,  4.52155497e-01,
         1.73028807e-01,  2.47794450e+00],
       [-4.81401743e-01,  9.97168581e-01, -3.40037043e-01,
        -5.29126011e-01,  1.41727750e+00],
       [ 9.90514816e-01,  8.39130234e-01,  1.10304692e+00,
         9.63322689e-01, -4.12906953e-01],
       [-5.98811430e-01,  7.03350809e-01, -5.55078387e-01,
        -6.12237006e-01, -2.08861843e+00],
       [-3.66855708e-01, -1.38898787e+00, -3.87412052e-01,
        -4.43648866e-01,  1.04711184e+00],
       [-6.13129685e-01, -8.70354988e-01, -6.29230575e-01,
        -6.25546596e-01, -1.03960996e-01],
       [-1.95036654e-01, -1.80328401e-01, -1.97088103e-01,
        -3.06707972e-01,  6.27116187e-01],
       [ 2.57420187e-01, -6.27732736e-01,  2.68010897e-01,
         1.02340096e-01,  9.93613047e-03],
       [-8.42221756e-01,  2.18356913e+00, -8.87939319e-01,
        -7.95022043e-01, -1.72272391e+00],
       [-8.36494454e-01,  6.67456351e-02, -8.35620831e-01,
        -7.91177051e-01,  4.77626208e-01],
       [-1.24971928e+00, -5.72085431e-01, -1.22450786e+00,
        -1.07836843e+00,  3.56610510e-01],
       [ 1.71501849e+00,  1.93426920e+00,  1.60563397e+00,
         1.79295380e+00, -6.33851449e-02],
       [-9.48088727e-02,  9.32617707e-01, -2.73619844e-02,
        -1.68584004e-01,  2.39252165e+00],
       [-8.56540011e-01, -1.44240929e+00, -8.79700187e-01,
        -8.07148559e-01, -8.18934280e-02],
       [ 8.96014337e-01,  1.30434171e+00,  8.31155567e-01,
         8.10410287e-01, -1.09486600e+00],
       [ 4.46421146e-01,  1.66910785e-01,  3.69764177e-01,
         3.30673508e-01, -1.93654984e-01],
       [-1.26088752e+00, -1.68948332e+00, -1.27641439e+00,
        -1.08339649e+00, -4.40669378e-01],
       [ 1.11937911e+00, -7.59060377e-01,  1.15248171e+00,
         1.03874370e+00,  5.55930482e-01],
       [ 1.10219720e+00,  2.44817012e-01,  1.05361213e+00,
         9.96448780e-01,  3.49491940e-01],
       [-9.51040490e-01,  1.03500875e+00, -9.61267594e-01,
        -8.67189598e-01, -1.19381413e+00],
       [-6.84720957e-01, -4.45209574e-01, -6.72897975e-01,
        -6.85883405e-01,  6.12879046e-01],
       [-5.15765554e-01,  5.92056198e-01, -5.09763162e-01,
        -5.62843639e-01,  1.78646250e-01],
       [ 2.56265916e+00,  6.00679585e-02,  2.46662326e+00,
         3.03813990e+00, -3.75178530e-01],
       [ 8.56011337e-02, -9.74971922e-01,  7.19195559e-02,
        -4.34738576e-02,  7.18676932e-02],
       [ 1.42874152e-01, -6.03247922e-01,  8.18065142e-02,
         3.31302275e-02, -8.74190317e-01],
       [ 5.52376229e-01,  2.00018986e-02,  4.89231590e-01,
         4.81811297e-01, -4.99041655e-01],
       [-7.50584927e-01, -1.03061923e+00, -7.56113208e-01,
        -7.34981004e-01,  1.85764820e-01],
       [ 2.26008140e-02,  1.84523352e+00,  1.34217188e-02,
        -9.13883818e-02, -1.17174656e+00],
       [ 1.88683755e+00,  2.57310027e+00,  1.79101444e+00,
         2.26026830e+00, -2.84772685e-01],
       [-1.46392037e+00, -4.96405095e-01, -1.37734376e+00,
        -1.19578859e+00,  5.63049053e-01],
       [ 1.98992898e+00,  1.56031931e+00,  2.07938406e+00,
         1.94083814e+00,  1.09694183e+00],
       [-1.42268379e+00, -1.26878969e+00, -1.36045354e+00,
        -1.16502865e+00, -1.52909880e+00],
       [-9.99722555e-01,  1.25982386e+00, -9.97519775e-01,
        -9.10371824e-01, -1.50943561e-01],
       [-1.13717780e+00, -1.04174869e+00, -1.14005676e+00,
        -1.01418663e+00,  1.04711184e+00],
       [ 1.14237643e-01,  1.77623086e+00,  1.85619577e-01,
         1.18348834e-02,  1.08270469e+00],
       [ 7.70101810e-02,  3.78090363e-02,  1.56782615e-01,
        -1.12350728e-02, -7.91614900e-01],
       [-7.76357786e-01, -9.28228185e-01, -7.89481692e-01,
        -7.54205967e-01, -1.63756988e-01],
       [-5.41538412e-01, -3.60625670e-01, -5.74852304e-01,
        -5.75265923e-01, -8.64936175e-01],
       [ 1.64629087e+00,  1.55781324e-01,  1.57679701e+00,
         1.65394253e+00,  3.56610510e-01],
       [-5.10038252e-01,  4.98568725e-01, -5.12646858e-01,
        -5.58111340e-01, -7.80937044e-01],
       [ 1.99279263e+00,  2.13654521e-01,  1.88988403e+00,
         2.15674926e+00, -1.31723421e-01],
       [ 2.08738122e-01, -6.43313982e-01,  2.64303287e-01,
         8.19320577e-02,  1.24643181e+00],
       [-1.28121944e+00, -2.38201598e-01, -1.26611548e+00,
        -1.08162188e+00, -6.57073919e-01],
       [-2.12218559e-01, -5.80989000e-01, -2.77831597e-01,
        -3.02862980e-01, -1.37533767e+00],
       [ 1.46874452e+00,  1.53806039e+00,  1.46968830e+00,
         1.50014282e+00, -3.33178964e-01],
       [ 1.10219720e+00, -2.04340019e+00,  1.25959043e+00,
         1.02395527e+00,  1.40304036e+00],
       [ 3.08965903e-01,  2.46180566e+00,  4.60394629e-01,
         1.83676480e-01,  4.34914785e-01],
       [ 3.40554176e-02, -3.09430149e-01, -4.13685088e-02,
        -6.41776644e-02, -2.34417511e+00],
       [-6.99039211e-01, -1.00196281e-01, -7.37163204e-01,
        -6.98305689e-01, -7.51039048e-01],
       [ 3.23284158e-01, -1.48024945e+00,  2.44941327e-01,
         2.09112585e-01, -1.20093270e+00],
       [ 3.43329714e-01, -1.17975401e+00,  4.23318535e-01,
         1.46705396e-01,  6.12879046e-01],
       [-1.80718400e-01, -1.49165910e-01, -1.69898968e-01,
        -2.86004165e-01,  5.13219060e-01],
       [-1.04840462e+00,  6.67456351e-02, -1.05066218e+00,
        -9.37878310e-01,  5.91523334e-01],
       [ 1.42874152e-01, -9.61616568e-01,  1.46071744e-01,
        -8.57315475e-03,  1.03287470e+00],
       [ 8.84647845e-02,  1.46877755e-01,  9.33412990e-02,
        -3.57838722e-02,  2.10570300e-03],
       [-8.88040170e-01, -6.07699706e-01, -8.77640404e-01,
        -8.32880433e-01,  6.41353327e-01],
       [ 1.62338166e+00,  5.76474952e-01,  1.55619918e+00,
         1.78999612e+00, -2.70804358e-02],
       [-1.11140494e+00, -1.63383602e+00, -1.09062197e+00,
        -9.85497066e-01,  9.03759763e-02]])

In [ ]:
type(df_scaled)

numpy.ndarray

In [ ]:
df = pd.DataFrame(df_scaled, columns=['var1', 'var2', 'var3', 'var4', 'var5'])
df

         var1      var2      var3      var4      var5
0   -0.478538 -0.213717 -0.458681 -0.511380  0.068308
1    1.374244  0.389500  1.292547  1.405497 -0.612227
2    0.377694 -0.017838  0.390362  0.278322  0.748132
3   -0.498584 -0.418499 -0.443026 -0.553083  0.477626
4   -0.744858 -1.139688 -0.723981 -0.745037  0.081834
..        ...       ...       ...       ...       ...
138  0.142874 -0.961617  0.146072 -0.008573  1.032875
139  0.088465  0.146878  0.093341 -0.035784  0.002106
140 -0.888040 -0.607700 -0.877640 -0.832880  0.641353
141  1.623382  0.576475  1.556199  1.789996 -0.027080
142 -1.111405 -1.633836 -1.090622 -0.985497  0.090376

[143 rows x 5 columns]

### **Exercise 44**

Implement the entropy() function using the numpy package. Round the result to four decimal places.

$Entropy = \sum_{k=1}^{n}{p_i*log_2(p_i)}$

Then the following df DataFrame is given

<pre>
    val_1   val_2
0   0.01    0.99
1   0.11    0.89
2   0.21    0.79
3   0.31    0.69
4   0.41    0.59
5   0.51    0.49
6   0.61    0.39
7   0.71    0.29
8   0.81    0.19
9   0.09    0.09
</pre>

Using the implemented function, calculate the entropy for each pair in this DataFrame and assign to the 'entropy' column.

In [ ]:
def entropy(x):
    return np.round(-np.sum(x * np.log2(x)), 4)

In [ ]:
data_dict = {
    'val_1': np.arange(0.01, 1.0, 0.1),
    'val_2': 1- np.arange(0.01, 1.0, 0.1)
}

In [ ]:
df = pd.DataFrame(data_dict)
df

   val_1  val_2
0   0.01   0.99
1   0.11   0.89
2   0.21   0.79
3   0.31   0.69
4   0.41   0.59
5   0.51   0.49
6   0.61   0.39
7   0.71   0.29
8   0.81   0.19
9   0.91   0.09

In [ ]:
df['entropy'] = [
    entropy([row[1][0], row[1][1]]) 
    for row in df.iterrows()
]

In [ ]:
df

   val_1  val_2  entropy
0   0.01   0.99   0.0808
1   0.11   0.89   0.4999
2   0.21   0.79   0.7415
3   0.31   0.69   0.8932
4   0.41   0.59   0.9765
5   0.51   0.49   0.9997
6   0.61   0.39   0.9648
7   0.71   0.29   0.8687
8   0.81   0.19   0.7015
9   0.91   0.09   0.4365

### **Exercise 45**

The 45.csv file contains the predictions based on the certain multi-class classification model (3 classes). The y_true column describes the actual values, and the y_pred column describes the values predicted by the model.

Using the accuracy_score( ) function from the scikit-learn package, calculate the accuracy of this model.

In [ ]:
predictions = pd.read_csv('45.csv')
acc = accuracy_score(predictions['y_true'], predictions['y_pred'])
print(f'Accuracy: {acc:.4f}')

Accuracy: 0.7241

### **Exercise 46**

The 45.csv file contains predictions based on the certain multi-class classification model (3 classes). The y_true column describes the actual values, and the y_pred column describes the values predicted by the model.

Use the confusion_matrix( ) function from the scikit-learn package to calculate the confusion matrix and print it to the console.

In [3]:
predictions = pd.read_csv('45.csv')
cm = confusion_matrix(predictions['y_true'], predictions['y_pred'])
print(cm)

[[ 6  1  0]
 [ 3 10  2]
 [ 0  2  5]]

### **Exercise 47**

The following arrays are given:

 * ```X_train, y_train```
 * ```X_test, y_test```

 generated with the following code

```np.random.seed(42)```<br>
```raw_data = make_moons(n_samples=2000, noise=0.25, random_state=42)``` <br>
```data = raw_data[0]```<br>
```target = raw_data[1]```<br>
```X_train, X_test, y_train, y_test = train_test_split(data, target)```

Using the DecisionTreeClassifier class from the scikit-learn package, create classification model (leave the default arguments). Train the model on the train set and evaluate on the test set.

In [6]:
np.random.seed(42)
raw_data = make_moons(n_samples=2000, noise=0.25, random_state=42)
data = raw_data[0]
target = raw_data[1]
 
X_train, X_test, y_train, y_test = train_test_split(data, target)

In [7]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)
acc = classifier.score(X_test, y_test)
print(f'Accuracy: {acc:.4f}')

Accuracy: 0.9020

### **Exercise 48**

Using the DecisionTreeClassifier class from the scikit-learn package, create classification model (set max_depth=6). Train the model on the train set and evaluate on the test set.

In [8]:
classifier = DecisionTreeClassifier(max_depth=6)
classifier.fit(X_train, y_train)
acc = classifier.score(X_test, y_test)
print(f'Accuracy: {acc:.4f}')

Accuracy: 0.9280

### **Exercise 49**

Using the DecisionTreeClassifier class from the scikit-learn package, create a classification model (set max_depth=6 and min_samples_leaf=6). Train the model on the train set and evaluate on the test set.

In [9]:
classifier = DecisionTreeClassifier(max_depth=6, min_samples_leaf=6)
classifier.fit(X_train, y_train)
acc = classifier.score(X_test, y_test)
print(f'Accuracy: {acc:.4f}')

Accuracy: 0.9300

### **Exercise 50**

Using the DecisionTreeClassifier class and grid search method (GridSearchCV class - set scoring='accuracy', cv=5) find the optimal values of the max_depth and min_samples_leaf arguments. Search for parameter values from the following:

* for max_depth -> np.arange(1, 10)
* for min_samples_leaf -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20]

Train the model on the train set and evaluate on the test set. In response, print founded optimal values of max_depth and min_samples_leaf to the console.

In [11]:
classifier = DecisionTreeClassifier()
 
params = {'max_depth': np.arange(1, 10),
         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20]}
 
grid_search = GridSearchCV(
    classifier, 
    param_grid=params, 
    scoring='accuracy', 
    cv=5
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)

{'max_depth': 6, 'min_samples_leaf': 6}